body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #eee;
    padding: 1em;
    position: fixed;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-bottom: 1em;
}

nav a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.carousel-item {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
  }
  
  .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
  }
  
  .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }
  
  /* Add specific styles for each carousel item */
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Adjust the background color and transparency as needed */
  }
  
  .carousel-caption h3,
  .carousel-caption p {
    margin: 0;
  }
  
  .carousel-caption h1 {
    font-size: 2.5rem; /* Adjust the font size as needed */
  }
  